.service {
    &__banner {
        height: 65rem;
        position: relative;

        &::before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
            inset: 0;
            content: "";
            position: absolute;

        }
    }

    &__img {
        height: 65rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__banner-content {
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 4rem;
            font-weight: 700;
            margin: 0 0 2.4rem;
            color: $white;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
            color: #fff;
        }

    }

    &__list {
        padding: 8rem 0 0;

        h2 {
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            margin: 0 0 6rem;
            color: $text;
        }
    }

    &__content {
        h3 {
            font-size: 4rem;
            font-weight: 700;
            margin: 0 0 2.4rem;
            color: $text;
        }

        p {
            color: #1E2021;
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0 0 2.4rem;
        }
    }

    &__row {
        padding: 8rem 0 4rem;
    }

    &__right-img {
        img {
            border-radius: 1rem;
        }
    }

    &__gallery {
        padding: 4rem 0;

        h2 {
            margin: 0 0 6rem;
            text-align: center;
        }
    }

    &__tab {
        .nav-pills {
            justify-content: center;
            gap: 2rem;

            .nav-item {
                .nav-link {
                    color: #929292;
                    font-weight: 700;
                    font-size: 2.4rem;
                    border-radius: 0;
                }

                .nav-link.active {
                    background-color: transparent;
                    color: #004088;
                    border-bottom: 0.2rem solid #004088;
                }
            }
        }
    }

    &__images {
        margin: 6rem 0 0;

        ul {
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.4rem;

            li {
                list-style-type: none;

                img {
                    height: 42rem;
                    width: 100%;
                    border-radius: 1.2rem;
                }
            }
        }
    }

}